node_modules
dist
test
dotfile.*

# this is a targetted attack at one file
/templateFiles/svelte/src/routes/+layout.ts
/templateFiles/svelte/docker-compose.yml
/templateFiles/svelte/Dockerfile
/templateFiles/svelte/nginx.conf
